*{
    margin: 0;
    padding: 0;
    /*       A REVOIR     */
    font-family: sans-serif; 
    color: white;
}

body
{
  background-color: black;
  display: flex; /* Utilisez flexbox */
  flex-direction: column; /* Orientation verticale */
  margin: auto;
  min-height: 100vh; /* Utilisez vh au lieu de % */
  width: 100%;
  align-items: stretch; /* assure que les enfants s'étendent en largeur */
}

html, body {
    overflow-x: hidden; /* Cache le débordement horizontal */
    width: 100%;
    overflow-y: auto; /* permet le défilement vertical si nécessaire */
    margin: 0;
    padding: 0;
}

.nav-item a:hover, .nav-item2 a:hover, .nav-item-one a:hover {
    color:blanchedalmond; /* Change la couleur du texte des liens au survol */
    transition: color 0.2s; /* Transition douce pour la couleur du texte */
}

main {
    flex: 1; /* Cela permet à main de s'étendre pour occuper tout l'espace disponible */
}

.navbar
{
    background-color: black;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between; /* Aligne les éléments de manière égale */
  }
  
  @media (max-width:320px) {
    ul{
        display: flex;
        flex-direction: column;
    }
}


.nav-item-two, .nav-item, .nav-logo, .nav-item-one{
    flex: 1;
}


.nav-item-one {
    text-align: right;
    font-size: 28px; /* Taille de police fixe */
    padding-top: 2.5%;
  }

.nav-item {
  font-size: 28px; /* Taille de police fixe */
  padding-top: 2.5%;
}

.nav-item-two {
    text-align: center;
    font-size: 28px; /* Taille de police fixe */
    padding-top: 5%;
  }

  img {
    height: 100%; 
    width: 100%; 
}

  @media (max-width:780px) {
    .nav-item, .nav-item-two, .nav-item-one{
        font-size: 16px; 
        margin: 10px;
    }
    .nav-logo{
        height: auto;
    }
}

@media (max-width:480px) {
    .nav-logo{
        display:none;
    }
}


/*************************/
/*CETTE PARTIE EST FAITE POUR L'INDEX, SKIP SI VOUS VOULEZ MISE EN PAGE*/
/*************************/

.intro-section, .book-section, .exchange-section, .footer-section {
    text-align: center;
    margin-bottom: 20px;
}

.exchange-section
{
    width: 25%; /* Réduire la largeur pour augmenter le nombre de lignes */
    margin: 0 10px; /* Ajuster la marge pour ne pas que les textes se touchent */
    margin: auto;
}

.section-title {
    color: blanchedalmond;
    font-size: 28px;
    text-align: center; /* Centrer le texte */
    margin-bottom: 20px; /* Espacement en bas pour séparer du contenu en dessous */
    padding: 0px 0; /* Ajouter de l'espace au-dessus et en dessous du texte */
}

.intro-columns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.text-style
{
    font-size: 20px;
    line-height: 1.6; /* Ajuster l'espace entre les lignes de texte */
}

.intro-column {
    width: 25%; /* Réduire la largeur pour augmenter le nombre de lignes */
    padding: 10px; /* Ajouter du padding pour contrôler l'espace autour du texte */
    margin: 0 10px; /* Ajuster la marge pour ne pas que les textes se touchent */
    line-height: 1.6; /* Ajuster l'espace entre les lignes de texte */
}

.footer-section {
    font-style: italic; /* Si vous souhaitez un style italique */
    font-size: 20px;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    align-items: center;
    background-color: #f9f9f9e7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    font-size: 24px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #0000005e;}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width:780px) {

    .intro-column
    {
        width: 70%;
    }
}

@media (max-width:480px) {
    .section-title{
        font-size: 18px;
    }
    .intro-columns
    {
        flex-direction: column;
        align-items: center;
    }

    .intro-column
    {
        width: 90%;
    }
    .text-style{
        font-size: 14px;
    }
    h1{
        font-size: 20px;
        margin: 10px;
    }
}

/*************************/
/*************************/
/*************************/

/*************************/
/*CETTE PARTIE EST FAITE POUR LA BARRE DE RECHERCHE
/*************************/

/*SEARCH BAR*/
.searchArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchArea h2{
    font-size: 1.5em;
    font-weight: lighter;
}

.horizontalLine{
    width: 35vh;
    margin-top: 10px;
}

.searchBar{
    display: flex; /* Utilisez flex pour disposer les éléments de la barre de recherche */
    align-items: center;
    background: white;
    border-radius: 20px;
    margin-top: 20px;
    border: solid  #F2AD62;
    border-width: 2px;
    width: 30%;          
    padding-right: 10px; /* Ajoutez du padding pour éviter que le contenu touche le bord */
}

.search{
    flex-grow: 1; /* Permet à l'élément de recherche de remplir l'espace disponible */
    background: none;
    border: none;
    color: black;
    padding-left: 10px;
}

.searchButton{
    background: none;
    border: none;
    padding: 5px 10px;
}

.searchIcon{
    width: 15px;
}

.search:focus {
    outline: none;  
}

.searchButton:hover{
    cursor:pointer ;
}

.searchButton:focus {
    outline: none;  
}

/*CATEGORIES*/
.categories{
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante */
    margin: 80px;
    justify-content: center;

}

.categories a{
    margin: 0 45px;
    min-width: 80px;
}

/*************************/
/*************************/
/*************************/

/*************************/
/*CETTE PARTIE EST FAITE POUR LE LOGIN ET L'INSCRIPTION*/
/*************************/

.login-png
{
    width: 40%;
    height: auto;
}

.form-title{
    text-align: center;
    margin: 10px;
}

.form-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff; /* Couleur et épaisseur de la bordure */
    background-color: rgba(255, 255, 255, 0.096);
    width: 240px;
    padding: 20px; /* Ajoutez de l'espace à l'intérieur de la bordure si nécessaire */
    margin: auto;

}

input, textarea, select, option{
    color: black; /* Définir la couleur du texte en noir avec la priorité */
    height: 25px;
    margin: 5px;
}

.label-content {
    text-align: center; /* Ajoutez cette ligne pour centrer le texte des labels */
}

#submit
{
    margin: 15px;
    width: 40%;
    color: black;
}

.inscription
{
    margin: 10px;
}

/*************************/
/*************************/
/*************************/

/*************************/
/*CETTE PARTIE EST FAITE POUR USERDETAILS
/*************************/

.user-info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*************************/
/*************************/
/*************************/

/*************************/
/*CETTE PARTIE EST FAITE POUR MODIFIER ET SUPPRIMER LES LIVRES, SKIP SI VOUS VOULEZ JUSTE LA MISE EN PAGE*/
/*************************/

hr
{
    width: 20%;
    margin: 20px auto; /* Marge en haut et en bas, et auto pour les marges latérales pour centrer */
}

.book-section-title {
    color:blanchedalmond; /* Couleur du texte */
    font-size: 20px; /* Taille du texte */
    text-align: center; /* Centrer le texte */
    margin-bottom: 20px; /* Espacement en bas pour séparer du contenu en dessous */
    padding: 20px 0; /* Ajouter de l'espace au-dessus et en dessous du texte */
}

.book-section {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
    gap: 20px; /* Espacement entre les éléments de la grille */
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center; /* Centrer les éléments verticalement */
}

.book {
    width: 150px; /* Largeur fixe pour chaque livre, ajustez selon vos besoins */
    margin: 10px; /* Espacement autour de chaque livre */
    background-color: rgba(255, 255, 255, 0.103); /* Fond blanc pour chaque livre */
    border: 1px solid #ddd; /* Bordure légère pour délimiter les livres */
    padding: 10px; /* Espacement à l'intérieur de chaque livre */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre portée pour un effet de profondeur */
    transition: transform 0.3s ease-in-out; /* Transition pour un effet au survol */
}

.book:hover {
    transform: translateY(-6px); /* Légère élévation du livre au survol */
}

.book img {
    width: 100%; /* Les images prennent toute la largeur disponible */
    height: auto; /* Hauteur auto pour conserver les proportions */
    display: block; /* Les images s'affichent en bloc */
}

.book-title {
    font-size: 1rem; /* Taille de la police pour le titre du livre */
    margin-top: 10px; /* Espacement au-dessus du titre */
    text-align: center; /* Titre centré */
}

.book-actions {
    display: flex;
    justify-content: space-around; /* Espacement équitable entre les boutons */
    margin-top: 10px; /* Espacement au-dessus des boutons */
}

.book-action {
    flex: 1;
    padding: 5px 10px; /* Padding pour les boutons */
    background-color:rgba(255, 235, 205, 0.075);
    border: none; /* Pas de bordure pour les boutons */
    cursor: pointer; /* Curseur en forme de main au survol des boutons */
}

.book-action:hover {
    color:blanchedalmond; /* Couleur du texte au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

@media (max-width:780px) {
    .book{
        width: 95px; /* Largeur fixe pour chaque livre, ajustez selon vos besoins */
    }
    .book-title{
        font-size: 0.8rem;
    }
    .book-action{
        padding: 1px 1.5px; /* Padding pour les boutons */
    }
    .book-section-title{
        font-size: 14px;
    }
}

@media (max-width:300px) {
    .book-section-title{
        font-size: 10px;
    }
}

/*************************/
/*************************/
/*************************/

/*************************/
/*CETTE PARTIE EST FAITE POUR LE BOOKADD, SKIP SI VOUS VOULEZ MISE EN PAGE*/
/*************************/

:root{
    --mainW1:440px;
    --mainW2:300px;
    --mainH: 32px;
    --mainColor: #D9D9D9;
    --txtColor: #FFFFFF;
  }

  #bookTitle
  {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .flexboxContainerAddBook {
    display: flex;
    flex-direction: row; /* Ajustement pour afficher en ligne */
    flex-wrap: wrap;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    justify-content: center;
    border: 3px solid rgba(255, 255, 255, 0.397);
    background-color: rgba(255, 255, 255, 0.089);
    font-size: 16px;
  }

  .myForm
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flexbox {
    width: calc(50% - 20px); /* 50% width with margin */
    margin: 40px;
  }
  
  #flexbox-item-1,
  #flexbox-item-2 {
    flex: 1;
  }
  
  #flexbox-item-1, #flexbox-item-2 {
    display: flex; /* Ajout pour permettre le centrage vertical */
    flex-direction: column; /* Ajout pour permettre le centrage vertical */
    align-items: center; /* Ajout pour centrer horizontalement */
  }

  #bookName,
  #pageNbr,
  #bookCategory,
  #extraitBook,
  #writerFirstName,
  #writerLastName,
  #editorName,
  #releaseDate {
    width: var(--mainW1);
    height: var(--mainH);
    background-color: var(--mainColor);
  }
  
  #bookSynopsis {
    max-width: var(--mainW1); /* Limite la largeur à --mainW1 */
    height: 285px;
    background-color: var(--mainColor);
  }

  .subButton
  {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    margin-bottom: 10px;
    order: 1; /* Spécifie l'ordre d'affichage du bouton */
  }

  input#coverImage{
    color:white;
  }

/*************************/
/*************************/
/*************************/

footer {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
  }

  .item-1{
    width: 10%;

    align-items: flex-end;
  }
  .item-2{
    flex-grow: 1;  
    font-size: 16px;
    align-self: flex-end;
  }

  @media (max-width:780px) {
    .item-2{
        font-size: 12px;
    }
}

@media (max-width:480px) {
    .item-1{
        display:none;
    }
    .item-2{
        font-size: 10px;
    }
}
